%transition {
    transition: all .3s ease-out;
}

%font-prim {
    font-family: 'open_sansregular', Verdana, sans-serif;
}

%font-prim-bold {
    font-family: 'open_sansbold', Verdana, sans-serif;
}

%font-add {
    font-family: 'poppinsregular', Verdana, sans-serif;
}

%font-add-bold {
    font-family: 'poppinsbold', Verdana, sans-serif;
}

%custom-scroll {
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px grey;
    }

    &::-webkit-scrollbar-thumb {
        background: #7752BE;
        border-radius: 10px;
    }
}