.ico {
    cursor: pointer;
    display: inline-block;
}

.ico_play {
    background-image: url('/assets/img/icons-svg/play.svg');
    width: 18px;
    height: 19px;
}

.icon-square {
    width: 50px;
    height: 50px;
    border-radius: 19px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &_yellow {
        background-color: $color-yellow;
    }

    &_blue {
        background-color: $color-blue;
    }

    &_red {
        background-color: $color-red;
    }

    &_violet {
        background-color: $color-violet;
    }
}

.icon-round {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &_white {
        background-color: $light-color;
    }
}

.ico_arrow {
    background-image: url('/assets/img/icons-svg/arrow.svg');
    width: 12px;
    height: 17px;
}

.ico_snake {
    background-image: url('/assets/img/icons-svg/snake.svg');
    width: 18px;
    height: 14px;
}

.ico_heart {
    background-image: url('/assets/img/icons-svg/heart.svg');
    width: 17px;
    height: 14px;
}

.ico_clock {
    background-image: url('/assets/img/icons-svg/clock.svg');
    width: 15px;
    height: 17px;
}

.ico_phone {
    background-image: url('/assets/img/icons-svg/phone.svg');
    width: 13px;
    height: 11px;
}

.ico_letter {
    background-image: url('/assets/img/icons-svg/email.svg');
    width: 11px;
    height: 8px;
}

.ico_close {
    background-image: url('/assets/img/icons-svg/close.svg');
    width: 21px;
    height: 21px;   
}