.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay-color;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    border-radius: 10px;
    background-color: $light-color;
    max-width: 675px;    
    max-height: 90%;
    overflow: hidden;
    overflow-y: auto;
    @extend %custom-scroll;

    @include media-tablet {
        max-width: 90%;
    }
}

.modal__block {       
    padding: 20px 30px;
}

.modal__date {
    margin: 0 0 10px;
    color: $primary-color;
}

.modal__title {
    margin: 0 0 10px;
    @extend %font-prim-bold;
    @include font (2.4rem, 3.4rem, normal);
}

.modal__content {
    height: auto;
}

.modal__close-icon {
    position: absolute;  
    top: 20px;
    left: 20px;
    cursor: pointer;    
}

.scroll-body {
    overflow: hidden;
}