
// Font
$mainFont : 'OpenSans-Regular',
Verdana,
sans-serif;

$boldFont : 'OpenSans-Bold',
Verdana,
sans-serif;

$secondMainFont : 'Poppins-Regular',
Verdana,
sans-serif;

$secondBoldFont : 'Poppins-Bold',
Verdana,
sans-serif;


// Size
$mainFontSize : 10px;
$mainFontWeight : 400;
$mainLineHeight : 1.4;

$desktopWidth : 1200px;
$smDesktopWidth : 1024px;
$tableWidth : 768px;
$smTableWidth : 640px;
$phoneWidth : 480px;
$smPhoneWidth : 320px;


// Main color
$mainFontColor : #544837;
$primary-color: #FF9900;
$additional-color: #FF7549;
$background-color: #FFEEE1;
$link-color: #1943EF;
$tag-color: #F5F5F5;
$heading-color: #2F281E;
$border-color: #D7D7D7;
$signup-color: #BCD0E5;
$light-color: #ffffff;
$color-hovered: #BCD0E5;;

$voilet-color: #7752BE;
$yellow-color: #FAB005;
$red-color: #F03E3D;
$blue-color: #4DADF7;
