// Size
$main-size : 10px;

$desktopWidth : 1197px;
$smDesktopWidth : 1024px;
$tableWidth : 768px;
$smTableWidth : 640px;
$phoneWidth : 480px;
$smPhoneWidth : 320px;


// Main color
$main-color : #544837;
$primary-color: #FF9900;
$additional-color: #FF7549;
$background-color: #FFEEE1;
$link-color: #1943EF;
$tag-color: #F5F5F5;
$heading-color: #2F281E;
$border-color: #D7D7D7;
$signup-color: #BCD0E5;
$light-color: #ffffff;

$color-hovered: #BCD0E5;
$color-yellow: #FAB005;
$color-red: #F03E3D;
$color-blue: #4DADF7;
$color-violet: #7752BE;