.button {
    padding: 11px 25px 13px;
    font-family: $mainFont;
    font-style: normal;
    font-weight: bolt;
    font-size: 1.6rem;
    line-height: 2.2rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.button_bordered {
    background: $light-color;
    border: 1px solid $border-color;
    color: $mainFontColor;

    &:hover {
        background: $color-hovered;
        border-color: $color-hovered;
    }
}

.button_colored {
    background: $primary-color;
    border: 1px solid $primary-color;
    color: $light-color;

    &:hover {
        background: $additional-color;
        border-color: $additional-color;
    }
}
